<div class="container">
    <div class="row">
        <div class="col-md-6 center">
            <h1><%= user.name %></h1>
            <hr>
            <h3><%= user.email %></h3>
            <h4><%= user.state %></h4>
        </div>
    </div>
</div>
